:root{
    --bgcolor: #CA9AFA;
    --colorfooter: #610353;
    --colored: #F70552;
    --colorcards: #AD0594;
    --autrecolor: #E007C0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  list-style: none;
  text-decoration: none;
  /* color: var(--bgcolor); */
  /* color: var(--colorfooter); */
  color: black;
}
body{
    background: var(--bgcolor);
}
header{
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.connect{
    position: absolute;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background: #05a11f;
    top: 7px;
    right: 10px;
}
.connect::after{
    content: "";
    position: absolute;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    background: #025a11;
    top: 5px;
    right: 6px;
}
.no-connect{
    display: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background: #610353;
}
header > #box-logo-n-title {
    width: 30%;
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    /* background: #F70552; */
}
header > #box-logo-n-title > h2{
    color: #610353;
}
header > #box-logo-n-title > a{
    display: block;
    height: 100%;
}
header > #box-logo-n-title > a > img{
    /* display: block; */
    margin-right: 20px;
    height: 100%;
}
header > #box-nav{
    /* background: #F70552; */
    width: 30%;
}
header > #box-nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    /* background: #CA9AFA; */
}
header > #box-nav > ul > a{
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--colorfooter);
}
/*******************fin du header*/
/*******************début main accueil*/
main{
    width: 80%;
    /* background: #610353; */
    margin: 10px auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main > div{
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    background: var(--colored);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > div > img{
    width: 45%;
}
main > div > #img-first{
    width: 65% !important;
}
/*******************fin main accueil*/
/*******************début connexion*/
#section-connect{
    padding: 50px;
}
#section-connect > h1{
    text-align: center;
    border-radius: 3px;
    margin: 40px auto 10px;
    width: 20%;
    color: var(--colorfooter);
    padding: 5px 15px;
    background: var(--autrecolor);
}
#section-connect > form{
    width: 35%;
    margin: 10px auto;
    background: #ddc8f3;
    border-radius: 5px;
    padding: 25px 10px 35px;
}
#section-connect > form > div{
    margin: 25px auto 0px;
    width: 65%;
    /* background: #610353; */
}
#section-connect > form > div > input{
    padding: 5px;
    width: 100%;
    font-size: 1.1em;
    border: none;
    background: var(--bgcolor);
    outline: none;
    border-radius: 3px;
    color: var(--colorfooter);
}
#section-connect > form > #btn-sub-connect{
    margin-top: 70px;
    /* margin-bottom: 70px; */
    width: 30%;
    background: none;
}
#section-connect > form > #btn-sub-connect > input{
    border-radius: 5px;
    cursor: pointer;
    background: var(--colorfooter);
    color: var(--bgcolor);
    font-weight: bold;
}
#section-connect > form > #box-link-to-sub-on-connect-page{
    margin: 5px auto 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-connect > form > #box-link-to-sub-on-connect-page > a{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: var(--colorfooter);
    text-align: center;
}
/*****************************fin connexion*/
/*****************************début inscript*/
#section-inscription{
    padding: 50px;
}
#section-inscription > h1{
    text-align: center;
    border-radius: 3px;
    margin: 40px auto 10px;
    width: 20%;
    color: var(--colorfooter);
    padding: 5px 15px;
    background: var(--autrecolor);
}
#section-inscription > form{
    width: 35%;
    margin: 10px auto;
    background: #ddc8f3;
    border-radius: 5px;
    padding: 25px 10px 35px;
}
#section-inscription > form > div{
    margin: 25px auto 0px;
    width: 65%;
}
#section-inscription > form > div > input{
    padding: 5px;
    width: 100%;
    font-size: 1.1em;
    border: none;
    background: var(--bgcolor);
    outline: none;
    border-radius: 3px;
    color: var(--colorfooter);
}
#section-inscription > form > #btn-sub-inscript{
    margin-top: 70px;
    /* margin-bottom: 70px; */
    width: 30%;
    background: none;
}
#section-inscription > form > #btn-sub-inscript > input{
    border-radius: 5px;
    cursor: pointer;
    background: var(--colorfooter);
    color: var(--bgcolor);
    font-weight: bold;
}
#section-inscription > form > #box-link-to-sub-on-inscript-page{
    margin: 5px auto 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-inscription > form > #box-link-to-sub-on-inscript-page > a{
    display: block;
    font-size: 0.8em;
    color: var(--colorfooter);
    text-align: center;
}
/*****************************fin inscript*/
/*****************************début dashboard*/
#section-dashboard{
    padding: 50px 30px 30px;
}
#section-dashboard > h1{
    text-align: center;
    color: var(--colorfooter);
}
#box-card-from-dash{
    padding: 10px;
    width: 95%;
    /* background: #ddc8f3; */
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#section-dashboard > #box-card-from-dash > .card-from-dash{
    position: relative;
    /* height: 30vh; */
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    background: var(--colorcards);
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #card-quest > h1{
    text-align: center;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #card-profil-from-dash{
    background: var(--colorfooter);
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #card-profil-from-dash > h1{
    text-align: center;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > .info-card-profil{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > .info-card-profil > span{
    margin-bottom: 3px;
}
#section-dashboard > #box-card-from-dash >  .card-from-dash>.info-card-profil > img{
    display: block;
    margin: 5px auto;
    padding: 5px;
    width: 30%;
    border-radius: 50%;
}
#section-dashboard > #box-card-from-dash >  .card-from-dash > #btn-to-edit-profil{
    display: block;
    text-align: center;
    border-radius: 50px;
    margin: 35px auto 5px;
    padding: 5px;
    width: 45%;
    background: var(--colored);
}
#section-dashboard > #box-card-from-dash >  .card-from-dash > #btn-to-edit-profil > i{
    display: block;
    text-align: center;
    pointer-events: none;
    font-size: 1.5em;
}
/*fin profil*/
/*début questionnaire*/
#section-dashboard > #box-card-from-dash > .card-from-dash > #card-quest {
    background: var(--colorfooter);
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto 25px;
}

#section-dashboard > #box-card-from-dash > .card-from-dash > #filter-from-dash-card-quest{
    background: #610353;
    width: 25%;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 35px auto 10px
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #filter-from-dash-card-quest > select{
    width: 100%;
    display: block;
    padding: 5px;
    background: var(--colorfooter);
    outline: none;
    border: none;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #display-catch-data{
    height: 70%;
    overflow-y: scroll;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #display-catch-data > .t-card{
    padding: 10px 5px;
    background: var(--bgcolor);
    border-radius: 5px;
}
.box-number-theme-with-data{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 3px;
    background: var(--colorfooter);
    border-radius: 3px;
}
.box-number-theme-with-data > span,
.box-number-theme-with-data > strong{
    color: var(--bgcolor);
}

.box-theme-with-data > span,
.box-theme-with-data > strong {
    color: var(--colorfooter);
}
.link-watch-plus{
    display: block;
    width: 50%;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--bgcolor);
    background: var(--colored);
    padding: 5px 10px;
}
.box-descript-with-data{
    padding: 5px;
}
.box-descript-with-data > p{
    color: var(--colorfooter);
}
#link-new-quiz-creat{
    position: absolute;
    display: block;
    border-radius: 5px;
    text-align: center;
    background: var(--colored);
    padding: 10px;
    width: 50%;
    bottom: 0px;
    right: 50%;
    transform: translate(50%, 50%);
}
/*fin questionnaire*/
/*début participé*/
#section-dashboard > #box-card-from-dash > .card-from-dash > #card-did{
    background: var(--colorfooter);
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto 25px;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #card-did > h1{
    text-align: center;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > .legend-theme-score{
    padding: 5px 10px;
    width: 98%;
    margin: 35px auto 10px;
    background: var(--colorfooter);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #barre-bottom{
    background: var(--bgcolor);
    width: 30%;
    margin:0px auto 25px;
    height: 5px;
    border-radius: 10px;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #box-centent-them-score > .box-info-particip{
    background: var(--bgcolor);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#section-dashboard > #box-card-from-dash > .card-from-dash > #box-centent-them-score > .box-info-particip > strong{
    color: var(--colorfooter);
}
/*fin participé*/
/*****************************fin dashboard*/
/****************************début edit profil*/
#section-edit-profil{
    padding: 20px;
}
#section-edit-profil > a{
    padding: 20px;
    color: var(--colorfooter);
}
#section-edit-profil > h1{
    text-align: center;
    color: var(--colorfooter);
}
#section-edit-profil > form{
    width: 50%;
    background:#ddc8f3;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}
#section-edit-profil > form > .edit-card-profil > img{
    display: block;
    width: 20%;
    margin: 5px auto;
}
#section-edit-profil > form > .edit-card-profil > input{
    display: block;
    text-align: center;
    margin: 0px auto;
    color: var(--colorfooter);
}
#box-champs-edit-pro{
    padding: 10px;
    width: 50%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#box-champs-edit-pro > a{
    color: var(--colorfooter);
    margin: 15px auto;
}
#box-champs-edit-pro > div {
    margin-bottom: 10px;
}
#box-champs-edit-pro > div > label{
    color: var(--colorfooter);
}
#box-champs-edit-pro > div > input{
    width: 100%;
    outline: none;
    background: var(--bgcolor);
    outline: none;
    border: none;
    padding: 3px;
    font-size: 1.1em;
    color: var(--colorfooter);
    border-radius: 3px;
}
#box-champs-edit-pro > div > textarea{
    width: 100%;
    outline: none;
    background: var(--bgcolor);
    outline: none;
    border: none;
    padding: 3px;
    font-size: 1.5em;
    color: var(--colorfooter);
    border-radius: 3px;
    resize: none;
}
#btn-sub-edit-profil{
    display: block;
    padding: 5px !important;
    cursor: pointer;
    width: 35% !important;
    margin: 0px auto !important;
    background: var(--colored) !important;
    color: var(--bgcolor) !important;
}
/****************************fin edit profil*/
/****************************début votre questionnaire*/
#display-questionnary {
    padding: 30px;
    margin: 55px 0px;
}
#display-questionnary > a {
    color: var(--colorfooter);
}
#display-questionnary > h1{
    text-align: center;
    font-size: 2em;
    color: var(--colorfooter);
}
#box-questionnary-display{
    width: 80%;
    padding: 20px;
    margin: 15px auto;
    background: var(--colorcards);
    border-radius: 5px;
}
#box-questionnary-display > .box-boucl{
    background: var(--bgcolor);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin: 5px auto;
}
#box-questionnary-display > .box-boucl > .box-quest > p{
    font-size: 1.3em;
    color: var(--colorfooter);
}
.answer{
    padding: 10px;
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}
.answer > span{
    color: var(--colorfooter);
    font-size: 1.3em;
}
#box-link-on-simul{
    width: 80%;
    padding: 10px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
#box-link-on-simul > a{
    padding: 10px;
    border-radius: 5px;
    background: var(--colorfooter);
    font-weight: bold;
}
#box-link-on-simul > a:nth-child(2){
    background: var(--colored);
    color: var(--colorfooter);
    font-weight: bold;
}
/****************************fin votre questionnaire*/
/****************************début update questionnaire*/
#section-edit-questions{
    padding: 20px;
    margin: 10px 0px;
}
#section-edit-questions > h1{
    text-align: center;
    color: var(--colorfooter);
}
#section-edit-questions > a{
    text-align: center;
    color: var(--colorfooter);
}
#section-edit-questions > #link-cancel{
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 8%;
    border-radius: 5px;
    color: var(--colorfooter);
    background: #ddc8f3;
    padding: 5px;
}
#box-glob-questions{
    padding: 20px;
    width: 80%;
    margin: 5px auto;
}
#box-glob-questions > form{
    width: 50%;
    margin: 0px auto;
    border-radius: 5px;
    padding: 20px;
    background: var(--colorcards);
}
.separe-in-form-edit-questions{
    width: 50%;
    height: 5px;
    margin: 10px auto;
    border-radius: 10px;
    background: #ddc8f3;
}
#box-glob-questions > form > .box-them-edit-quest{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    width: 80%;
}
#box-glob-questions > form > .box-them-edit-quest > textarea{
    /* width: 100%; */
    outline: none;
    background: var(--bgcolor);
    outline: none;
    border: none;
    padding: 3px;
    font-size: 1.5em;
    color: var(--colorfooter);
    border-radius: 3px;
    resize: none;
    height: 100px;
}
#box-glob-questions > form > .box-them-edit-quest > input{
    font-size: 1.3em;
    color: var(--colorfooter);
    border: none;
    padding: 3px;
    border-radius: 3px;
    outline: none;
    background: var(--bgcolor);
}
#box-glob-questions > form > .box-them-edit-quest > .nm-ber-quest{
    width: 13%;
}
#box-btn-sub-edit-questions{
    margin: 20px auto;
    width: 50%;
}
#box-btn-sub-edit-questions > input{
    display: block;
    border: none;
    margin: 0px auto;
    font-size: 1.3em;
    width: 40%;
    background: var(--bgcolor);
    padding: 5px;
    border-radius: 5px;
    color: var(--colorfooter);
}
/****************************fin update questionnaire*/
/*****************************début quiz simulation*/
#section-quiz-simulation{
    padding: 20px;
}
#section-quiz-simulation > h1{
    text-align: center;
    font-size: 2em;
    color: var(--colorfooter);
}
#section-quiz-simulation > a{
    /* text-align: center; */
    font-size: 1em;
    color: var(--colorfooter);
}
#section-quiz-simulation > .stop-cancel{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
    color: var(--colorfooter);
}
#box-simulation-live > form{
    width: 70%;
    margin: 5px auto;
    padding: 20px;
    border-radius: 5px;
    background: #610353;
}
.invi{
    display: none;
}
#box-simulation-live > h2{
    background: var(--bgcolor);
    text-align: center;
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    color: var(--colorfooter);
}
#box-simulation-live > form > h2{
    padding: 10px;
    text-align: center;
    width: 70%;
    margin: 10px auto;
}
#box-glob-of-div-n-input{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
    margin: 0px auto;
    background: #05a11f;
}
#box-glob-of-div-n-input > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    width: 30%;
    background: #AD0594;
}
#box-glob-of-div-n-input > div > input{
    display: block;
    text-align: center;
    width: 20%;
    /* height: 40%; */
    margin: 8px auto;
    cursor: pointer;
}
#box-glob-of-div-n-input > div > label{
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}
#box-simulation-live > form > #btn-to-simul-val{
    display: flex;
    justify-content: right;
}
#box-simulation-live > form > #btn-to-simul-val > input{
    border: none;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    width: 10%;
    text-align: center;
    font-size: 1.3em;
}
/*****************************fin quiz simulation*/
/******************************début creat question*/
#section-creat-quiz{
    padding: 30px;
}
#section-creat-quiz > h1{
    color: var(--colorfooter);
    text-align: center;
}
#section-creat-quiz > a{
    color: var(--colorfooter);
}
#section-creat-quiz > #link-cancel{
    display: block;
    width: 10%;
    color: var(--colorfooter);
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    background:#ddc8f3;
    margin: 5px auto 0px;
}
#box-glob-creat-questions{
    padding: 15px;
    width: 80%;
    margin: 5px auto;
}
#box-glob-creat-questions > #box-to-form-select-numb{
    width: 20%;
    margin: 0px auto;
    /* background: var(--colorfooter); */
}
#box-glob-creat-questions > #box-to-form-select-numb > form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
}
#box-glob-creat-questions > #box-to-form-select-numb > form > label{
    color: var(--colorfooter);
    padding: 5px;
}
#box-glob-creat-questions > #box-to-form-select-numb > form > select,
#box-glob-creat-questions > #box-to-form-select-numb > form > input,
#box-glob-creat-questions > #box-to-form-select-numb > form > select > option{
    color: var(--colorfooter);
    margin: 0px 5px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: bold;
}
#box-glob-creat-questions > form{
    width: 50%;
    background: var(--colorfooter);
    border-radius: 5px;
    padding: 10px;
    margin: 0px auto;
}
#box-glob-creat-questions > form > .box-creat-them-quest{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 35%;
}
#box-glob-creat-questions > form > .box-creat-them-quest > input{
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.2em;
    color: var(--colorfooter);
}
#box-glob-creat-questions > form > .box-creat-descrip-quest{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-top: 15px;
}
#box-glob-creat-questions > form > .box-creat-descrip-quest > textarea{
    resize: none;
    padding: 3px;
    border-radius: 3px;
    outline: none;
    font-size: 1.3em;
    color: var(--colorfooter);
    background: var(--bgcolor);
}
#box-glob-creat-questions > form > .box-creat-quest{
    width: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
#box-glob-creat-questions > form > #separe-in-form-creat-questions{
    width: 30%;
    margin: 10px auto;
    height: 5px;
    background: var(--bgcolor);
    border-radius: 50px;
}
#box-glob-creat-questions > form > .box-creat-quest > input{
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.2em;
    color: var(--colorfooter);
}
#box-glob-creat-questions > form > .box-creat-quest > .nm-ber-quest{
    width: 13%;
}
#box-glob-creat-questions > form > #box-btn-sub-creat-questions{
    margin-top: 25px;
    padding: 10px;
}
#box-glob-creat-questions > form > #box-btn-sub-creat-questions > input{
    display: block;
    margin: 0px auto;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: var(--colorfooter);
}
.waiting-option-user-number{
    display: none !important;
}
/******************************fin creat question*/
/***********************************début de end-simulation*/
#section-end-simulation{
    padding: 30px;
}
#section-end-simulation > h1{
    text-align: center;
    font-size: 2.3em;
    color: var(--colorfooter);
}
#section-end-simulation > #box-card-end-to-simulation{
    width: 50%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 15px;
    background: var(--colorfooter);
}
#section-end-simulation > #box-card-end-to-simulation > h2{
    text-align: center;
    margin-bottom: 10px;
}
#section-end-simulation > #box-card-end-to-simulation > #box-card-to-them-simulation,
#section-end-simulation > #box-card-end-to-simulation > #box-card-to-score-simulation{
    padding: 10px 0px;
}
#section-end-simulation > #box-card-end-to-simulation > #box-card-to-img-profil > img{
    display: block;
    margin: 5px auto;
    width: 30%;
    background: #CA9AFA;
    border-radius: 200px;
}
#section-end-simulation > #box-card-end-to-simulation > #box-card-to-img-profil > a{
    display: block;
    text-align: right;
    margin: 15px 0px;
}
/***********************************fin de end-simulation*/
/***********************************début init de mot de passe*/
#section-change-pass-word-mail{
    padding: 40px;
}
#section-change-pass-word-mail > h1{
    text-align: center;
    color: var(--colorfooter);
}
#section-change-pass-word-mail > form{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background: #610353;
    border-radius: 5px;
}
#section-change-pass-word-mail > form > div{
    width: 50%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
#section-change-pass-word-mail > form > div > input{
    padding: 3px;
    font-size: 1em;
    outline: none;
    background: var(--bgcolor);
    border: none;
    border-radius: 3px;
}
#section-change-pass-word-mail > form > input{
    display: block;
    width: 15%;
    padding: 5px;
    border: none;
    background: var(--bgcolor);
    border-radius: 3px;
    margin: 15px auto;
}
/***********************************fin init de mot de passe*/
/***********************************début ask change password*/
#section-init-pass-word-just-mail{
    padding: 40px;
}
#section-init-pass-word-just-mail > h1{
    text-align: center;
    color: var(--colorfooter);
}
#section-init-pass-word-just-mail > form{
    padding: 20px;
    width: 50%;
    margin: 15px auto;
    border-radius: 5px;
    background: var(--colorfooter);
}
#section-init-pass-word-just-mail > form > div{
    width: 40%;
    margin: 15px auto;
}
#section-init-pass-word-just-mail > form > div > input{
    width: 100%;
    outline: none;
    border: none;
    padding: 3px;
    border-radius: 3px;
    background: var(--bgcolor);
    font-size: 1.1em;
}
#section-init-pass-word-just-mail > form > input{
    display: block;
    cursor: pointer;
    margin: 20px auto;
    width: 15%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: var(--bgcolor);
}
/***********************************fin ask change password*/
/**Anim to msg form**/
.msg-to-user-form{
    color: var(--colored);
    transition: 5s;
    animation: speedShow 5s ease-out forwards;
}
@keyframes speedShow {
    from{visibility: visible;}
    to{visibility: hidden;}
}
/************************************questionnaire*/
#section-questionnaire{
    margin: 50px 0px;
}
#section-questionnaire > .div-glob{
    background: #610353;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 3px;
}
.them-quest > h1{
    text-align: center;
    margin-bottom: 20px;
    color: #CA9AFA;
}
.iv-score{
    background: #05a11f;
    width: 10%;
    padding: 15px;
    border-radius: 3px;
}
.iv-score > span{
    font-size: 1.5em;
}
.them-quest > h1 > strong{
    color: #ddc8f3;
    font-size: 1.4em;
}
.div-glob > form{
    background: #CA9AFA;
    width: 90%;
    margin: 15px auto;
}
.div-glob > form > h2{
    text-align: center;
    color: #610353;
    width: 90%;
    margin: 25px auto;
    padding: 15px;
}
.btn-to-questionnaire-val{
    /* background: #610353; */
    margin: 10px;
    padding: 20px;
}
.btn-to-questionnaire-val > input{
    display: block;
    background: #610353;
    margin: 0px auto;
    width: 10%;
    padding: 2px;
    font-size: 1.3em;
    color: #ddc8f3;
    border-radius: 3px;
    border: none;
}

/********************debut footer*/
footer{
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--colorfooter);
}

footer > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer > div{
    height: 100%;
}
footer > div > a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer > div > a > img{
    display: block;
    height: 80%;
}